.featured-articles {
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
    font-weight: 800;
    
}

.article-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.article {
    margin: 20px 0;
}

.article1 img {
    max-width: 70%;
    height: auto;
}
.article2 img {
    max-width: 70%;
    height: auto;
}
.article3 img {
    max-width: 70%;
    height: auto;
}

.see-all-articles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.see-all-articles a {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
}